<h1>ECMA6 Examples</h1>

<h2>Decorate the DOM</h2>
<p>Click on works to decorate them</p>
<p>
  Mixtape yr roof party glossier squid. Man bun neutra distillery plaid. IPhone
  hammock pop-up <a class="decorate">pickled</a> messenger bag trust fund,
  dreamcatcher blue bottle readymade semiotics before they sold out fanny pack <a
  class="decorate">distillery</a>. Selfies copper mug lumbersexual irony, <a
  class="decorate">chartreuse</a> bicycle rights post-ironic photo booth. Keytar
  plaid pop-up <a class="decorate">flexitarian</a> health goth mustache
  thundercats pabst master cleanse retro lomo palo santo readymade single-origin
  coffee. Air plant <a class="decorate">truffaut jianbing glossier authentic
  everyday</a> carry, kickstarter bushwick polaroid sriracha scenester viral four
  dollar toast.
</p>

<h2>External Data</h2>
<span class="status"></span>
<dl>
  <dt>Title:</dt>
  <dd class="title"></dd>
  <dt>Description:</dt>
  <dd class="description"></dd>
</dl>

<button type="button" class="external-data" data-endpoint="<%= external_data_index_path %>">Load data</button>
<button type="button" class="external-data" data-endpoint="/bad-endpoint">Bad data</button>
